name: Continuous Integration
on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
     - master

env:
  IMAGE_NAME: "databack/mysql-backup"

jobs:
  report:
    name: Report
    runs-on: ubuntu-latest
    steps:
    - name: ref
      run: echo ${{ github.ref }}
    - name: event_name
      run: echo ${{ github.event_name }}
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version: '1.21'
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: latest
    - name: Build
      run: go build -o dist/mysql-backup -v .
    - name: vet
      run: make vet
    - name: Test
      run: make test
    - name: Integration Test
      run: make integration_test
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        push: false
        platforms: linux/amd64,linux/arm64
        tags: |
          ${{env.IMAGE_NAME}}:${{github.sha}}
    - name: test
      run: make test
